In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import openpyxl
import matplotlib

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
DIR = '/content/drive/MyDrive/Colab Notebooks/Datasets/'

In [5]:
df_times = pd.read_excel(DIR + 'lista_time.xlsx')

In [6]:
df_times.head(2)

,Clube,Stadium,vlr_gasto (em milhões de Euros),Capacity,Managers,Nat.,Became Manager,Logo
0,Arsenal,Emirates Stadium,66.85,60704,Mikel Arteta,Spain,2019-12-22,https://ibb.co/mNnfdnh
1,Aston Villa,Villa Park,98.58,42682,Dean Smith,England,2018-10-10,https://ibb.co/RCf3ysY

In [7]:
df_dados_jogadores = pd.read_csv(DIR + 'league_player_data_20_21.csv', sep=',')
df_dados_jogadores.head(5)

,id,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
0,647,Harry Kane,35,3097,23,22.174859,14,7.577094,138,49,1,0,F,Tottenham,19,19.130183,24.995648,4.451257
1,1250,Mohamed Salah,37,3085,22,20.250847,5,6.528526,126,55,0,0,F M S,Liverpool,16,15.683834,28.968234,9.800236
2,1228,Bruno Fernandes,37,3117,18,16.019454,12,11.474996,121,95,6,0,M S,Manchester United,9,8.407840,26.911412,11.932285
3,453,Son Heung-Min,37,3139,17,11.023287,10,9.512992,68,75,0,0,F M S,Tottenham,16,10.262118,20.671916,6.608751
4,822,Patrick Bamford,38,3085,17,18.401863,7,3.782247,107,30,3,0,F S,Leeds,15,16.879525,23.394953,4.131796

In [8]:
df_class = pd.read_excel(DIR + 'classificacao.xlsx')
df_class.head(5)

,Posição,Clube,Pontos,Jogos,Vitorias,Empates,Derrotas,Gols Pro,Gols Contra,Saldo de Gols
0,1,Manchester City,86,38,27,5,6,83,32,51
1,2,Manchester United,74,38,21,11,6,73,44,29
2,3,Liverpool,69,38,20,9,9,68,42,26
3,4,Chelsea,67,38,19,10,9,58,36,22
4,5,Leicester City,66,38,20,6,12,68,50,18

In [10]:
df_clube = pd.merge(df_class, df_times, on='Clube', how='outer')
df_clube.head(2)

,Posição,Clube,Pontos,Jogos,Vitorias,Empates,Derrotas,Gols Pro,Gols Contra,Saldo de Gols,Stadium,vlr_gasto (em milhões de Euros),Capacity,Managers,Nat.,Became Manager,Logo
0,1.0,Manchester City,86.0,38.0,27.0,5.0,6.0,83.0,32.0,51.0,Etihad Stadium,109.4,55017.0,Pep Guardiola,Spain,2016-07-01,https://ibb.co/19YrKRX
1,2.0,Manchester United,74.0,38.0,21.0,11.0,6.0,73.0,44.0,29.0,Old Trafford,64.3,74879.0,Ole Gunnar Solskjær,Norway,2018-12-19,https://ibb.co/wgvLV0s

In [12]:
df_clube = df_clube.rename(columns={'Stadium':'Estadio', 'Capacity':'Capacidade','Managers':'Tecnico','Nat.':'Nacionalidade','Became Manager':'Data de Adimissão'})
df_clube.head(2)

,Posição,Clube,Pontos,Jogos,Vitorias,Empates,Derrotas,Gols Pro,Gols Contra,Saldo de Gols,Estadio,vlr_gasto (em milhões de Euros),Capacidade,Tecnico,Nat.,Data de Adimissão,Logo
0,1.0,Manchester City,86.0,38.0,27.0,5.0,6.0,83.0,32.0,51.0,Etihad Stadium,109.4,55017.0,Pep Guardiola,Spain,2016-07-01,https://ibb.co/19YrKRX
1,2.0,Manchester United,74.0,38.0,21.0,11.0,6.0,73.0,44.0,29.0,Old Trafford,64.3,74879.0,Ole Gunnar Solskjær,Norway,2018-12-19,https://ibb.co/wgvLV0s

In [17]:
df_clube.to_excel(DIR + 'dataset_times.xlsx', index=False)

In [15]:
df_dados_jogadores = df_dados_jogadores.rename(columns={'id':'cod_jogador', 'player_name':'Nome Jogador', 'games':'Jogos','time':'Minutos Jogados', 'goals':'Gols Marcados',	'assists': 'Assitencias', 'shots':'Chutes', 'key_passes':'Passes bons', 'yellow_cards':'Cartões Amarelos',	'red_cards':'cartões vermelhos', 'position':'Posição jogador'})
df_dados_jogadores.head(20)

,cod_jogador,Nome Jogador,Jogos,Minutos Jogados,Gols Marcados,xG,Assitencias,xA,Chutes,Passes bons,Cartões Amarelos,cartões vermelhos,Posição jogador,team_title,npg,npxG,xGChain,xGBuildup
0,647,Harry Kane,35,3097,23,22.174859,14,7.577094,138,49,1,0,F,Tottenham,19,19.130183,24.995648,4.451257
1,1250,Mohamed Salah,37,3085,22,20.250847,5,6.528526,126,55,0,0,F M S,Liverpool,16,15.683834,28.968234,9.800236

In [16]:
df_artilharia = df_dados_jogadores.head(20)
df_artilharia

,cod_jogador,Nome Jogador,Jogos,Minutos Jogados,Gols Marcados,xG,Assitencias,xA,Chutes,Passes bons,Cartões Amarelos,cartões vermelhos,Posição jogador,team_title,npg,npxG,xGChain,xGBuildup
0,647,Harry Kane,35,3097,23,22.174859,14,7.577094,138,49,1,0,F,Tottenham,19,19.130183,24.995648,4.451257
1,1250,Mohamed Salah,37,3085,22,20.250847,5,6.528526,126,55,0,0,F M S,Liverpool,16,15.683834,28.968234,9.800236
2,1228,Bruno Fernandes,37,3117,18,16.019454,12,11.474996,121,95,6,0,M S,Manchester United,9,8.407840,26.911412,11.932285
3,453,Son Heung-Min,37,3139,17,11.023287,10,9.512992,68,75,0,0,F M S,Tottenham,16,10.262118,20.671916,6.608751
4,822,Patrick Bamford,38,3085,17,18.401863,7,3.782247,107,30,3,0,F S,Leeds,15,16.879525,23.394953,4.131796
5,5555,Dominic Calvert-Lewin,33,2878,16,18.210514,0,2.101819,83,18,3,0,F S,Everton,16,18.210514,19.884306,4.270798
6,755,Jamie Vardy,34,2848,15,19.942946,9,5.087882,82,28,1,0,F S,Leicester,7,13.092427,18.227907,2.412588
7,8865,Ollie Watkins,37,3330,14,16.280178,5,5.314029,98,45,2,1,F,Aston Villa,13,14.757840,22.014021,5.334991
8,314,Ilkay Gündogan,28,2033,13,9.566883,2,3.816220,54,42,1,0,M S,Manchester City,12,8.044545,19.286812,10.148375
9,3277,Alexandre Lacazette,31,1939,13,12.028909,2,2.209213,45,22,3,0,F M S,Arsenal,10,9.745403,14.361542,2.937941
10,468,Callum Wilson,26,2079,12,13.590091,5,3.046301,49,17,2,0,F S,Newcastle United,8,10.545416,14.205593,1.052545
11,620,Kelechi Iheanacho,25,1452,12,9.048596,2,3.534099,59,28,1,0,F S,Leicester,12,8.287427,13.961564,3.429915
12,986,Danny Ings,29,2200,12,8.276573,4,2.311231,57,22,1,0,F S,Southampton,10,6.754236,10.482218,2.479041
13,4456,Chris Wood,33,2765,12,12.954135,3,2.038118,70,23,0,0,F S,Burnley,10,11.431798,13.585282,2.149852
14,522,Wilfried Zaha,30,2615,11,8.804440,2,3.702821,60,30,6,0,F M S,Crystal Palace,9,7.282102,13.579472,3.634436
15,556,Marcus Rashford,37,2941,11,9.579710,9,4.185122,79,44,4,0,F M S,Manchester United,11,9.579710,20.441910,8.927208
16,838,Sadio Mané,35,2805,11,14.828548,7,7.787755,94,61,3,0,F M S,Liverpool,11,14.828548,24.998923,6.057656
17,2251,Gareth Bale,20,909,11,5.797858,2,1.842241,38,21,1,0,M S,Tottenham,11,5.797858,8.149641,2.594514
18,7153,Matheus Pereira,33,2594,11,6.948317,6,6.355539,65,58,2,1,M S,West Bromwich Albion,7,3.903641,10.857054,3.757924
19,318,Pierre-Emerick Aubameyang,29,2333,10,10.450052,3,2.431349,57,22,2,0,F M S,Arsenal,8,8.927714,15.113904,3.955129

In [19]:
df_artilharia.to_excel(DIR + 'dataset_artilheiros.xlsx', index=False)

In [20]:
df_dados_jogadores.to_excel(DIR + 'dataset_jogadores.xlsx', index=False)